html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    background-color: #141a2a;
    color: #fff;
}

.form {
    max-width: 500px;
    margin: 3% auto;
    padding: 20px;
}

.form__button {
    margin: 20px 2px;
    background-color: goldenrod;
    color: #fff;
    padding: 5px;
}

.form__button:hover {
    background-color: rgba(218, 165, 32, 0.8);
}

.form__button:active {
    background-color: rgba(218, 165, 32, 0.6);
}

.form__data {
    border: 4px double steelblue;
    border-radius: 10px;
    background-color: #141a2ac8;
}

.form__cell {
    padding: 5px;
}

.form__cell:focus {
    background-color: #7fb6e3ff;
}

.form__legend {
    background-color: goldenrod;
    color: #fff;
    padding: 5px;
}

.form__summary {
    text-align: center;
}

.body_background {
    background-image: url("../images/background.png");
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center top;
}